{% extends "main.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-sm-8 col-md-5 col-lg-4">
    <h4 class="mb-3">Change your password</h4>
    {% if message %}<div class="alert alert-success">{{ message }}</div>{% endif %}
    {% if error %}<div class="alert alert-warning">{{ error }}</div>{% endif %}
    <form method="post" action="{{ url_for('main.change_password') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="form-group">
        <label for="current">Current password</label>
        <input class="form-control" id="current" name="current" type="password"
               autocomplete="current-password" required>
      </div>
      <div class="form-group">
        <label for="new">New password (at least 12 characters)</label>
        <input class="form-control" id="new" name="new" type="password"
               autocomplete="new-password" minlength="12" required>
      </div>
      <div class="form-group">
        <label for="confirm">New password again</label>
        <input class="form-control" id="confirm" name="confirm" type="password"
               autocomplete="new-password" minlength="12" required>
      </div>
      <button class="btn btn-primary btn-block">Change password</button>
    </form>
    <p class="mt-3"><a href="{{ url_for('main.index') }}">Back to ISDi</a></p>
  </div>
</div>
{% endblock %}
